@charset "utf-8";
body {
	text-align: left;
	background:#F9F0CD;
	color:#6d6e71;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
input,textarea{
	border:1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	line-height:20px;
}
.pageWrapper {
	background:#fff url(../img/skin_2_4/menu_bg.gif) repeat-y 0 0;
}
.header {
	background:#000 url(../img/skin_2_4/top_nav_bg.gif) repeat-x left bottom;
	color:#fff;
}
.logo h2 {
	color:#fff;
}
.topMenu a {
	color:#eee;
}
.topMenu a:hover {
	color:#fff;
}
.footer {
	color:#939598;
}
.footer .copyRight {
	border-bottom:1px solid #ccc;
}
.footer .linkFwbao {
	color:#e76300;
}
.pageLeft dt.on {
	background:#0051A3 url(../img/skin_2_4/menu_a.gif) no-repeat right;
}
.pageLeft dt a {
	color:#999;
}
.pageLeft dt.on a, .pageLeft dt a:hover {
	color:#fff;
	text-decoration:none;
}
.pageLeft dd a {
	color:#ccc;
}
.pageLeft dd a:hover, .pageLeft dd a.on {
	color:#fff;
}
.triangle {
	
}
.pageRight a {
	color:#000;
}
.pageRight a:hover {
	color:#03a
}
.titleNav {
	background:#c90;
	color:#fff;
	height:26px;
	line-height:26px;
	padding:0 10px 0 20px;
}
.titleNav a {
	color:#000;
	font-size:12px;
}
.titleNav a:hover {
	color:#fff;
}
.titleNav a.more{
	font-size:10px;
}
.titleIcon {
	height:100%;
	background:url(../img/skin_2_4/title_icon.gif) no-repeat right center;
	padding-right:15px;
	float:right;
}
.homeSection {
	background:#ddd;
	border:1px solid #222;
	color:#333;
}
.lineBg {
	border-bottom:1px dashed #E4C5DA;
}
.lineBg2 {
	border-bottom:2px solid #bcbec0;
}
.teamMembers li.pic img {
	border:1px solid #ccc;
}
.teamMembers li.info {
	color:#666;
}
.serviceList li.title, .serviceList li .price {
	color:#666;
}
.serviceList li .price a {
	font-size:13px;
	color:#000;
	text-decoration:underline;
}

.commentBox .title {
	color:#000;
}
.pages a {
	color:#c90;
	background:#f4f4f4;
	
}
.pages a:hover {
	background:#c90;
	color:#fff;
}
.pages a.on {
	background:#fff;
	font-weight:bold;
	color:#c90;
}