body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, table, td, img, div, dl, dt, dd, pre, input, select {
	margin:0;
	padding:0;
}
body {
	font:400 12px/20px Arial, Helvetica, sans-serif;
}
ul, ol {
	list-style-type:none;
}
select, input, img {
	vertical-align:middle;
	font-size:12px
}
img, a img {
	border:0
}
.clear {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	visibility:hidden
}
.fl {
	float:left
}
.fr {
	float:right
}
.pageWrapper {
	width:960px;
	margin:0 auto
}
.width_layer {
	width: 960px;
	margin:auto;
}
.top_bar {
	height: 15px;
	padding: 10px 0;
	background:#FFF url(../img/topbar_bg.gif) repeat-x;
	position:absolute;
	width:100%;
	z-index:999;
}
.top_bar .tag_info {
	float: left;
	width: 500px;
}

.top_bar .nav {
	float: right;
	color: #278ACB;
}
.top_bar a {
	color: #278ACB;
}
.header {
	width:960px;
	height:95px;
	position:relative;
}
.logo {
	height:85px;
	padding:0px 0 0 10px
}
.logo td {
	height:85px;
	vertical-align:bottom;
	font-weight: bold;
}
.logo img {
	margin-right:8px
}
.logo h2 {
	height:24px;
	line-height:24px;
	font-size:24px;
	font-weight:400;
	font-family:"黑体"
}
.logo span {
	display:block;
	padding-top:5px
}
.logo .sign {
	padding-left:2px;
}
.topMenu {
	display:block;
	height:18px;
	position:absolute;
	right:14px;
	top:10px
}
.option {
	display:block;
	height:6px;
	position:absolute;
	right:14px;
	top:35px
}
.option .skin a {
	float:right;
	display:inline;
	margin-left:6px;
	width:6px;
	height:6px;
	text-indent:-5000px;
	overflow:hidden;
	border:1px solid #939598;
}
.option .skin a:hover{
	border:1px solid #fff;
}
.option a.sink01 {
	background:#000
}
.option a.sink02 {
	background:#0036ff
}
.option a.sink03 {
	background:#ff0000
}
.option a.sink04 {
	background:#48ff00
}
.option a.sink05 {
	background:#cd00d5
}
.option a.sink06 {
	background:#fcff00
}
.option a.sink07 {
	background:#ededed
}
.footer {
	padding-top:30px;
	text-align:center
}
.footer .copyRight {
	padding-bottom:10px
}
.footer .linkFwbao {
	width:180px;
	height:22px;
	margin:10px auto;
	line-height:100%
}
.footer .linkFwbao img {
	float:left
}
.banner {
	width:960px;
	vertical-align:middle;
	border-top:1px solid #fff
}
.banner img{
	width:960px;
}
.pageLeft {
	width:203px;
	padding-top:28px;
	float:left
}
.pageLeft dt {
	height:15px;
	line-height:15px;
	text-align:right;
	padding:10px 31px 10px 0;
	margin-bottom:3px;
	font-size:14px;
	position:relative;
}
.pageLeft dt a:visited {
	color:#FFF;
}
.pageLeft dd {
	margin-bottom:3px;
	display:block;
}
.pageLeft dd span {
	display:block;
	height:14px;
	text-align:right;
	padding:5px 55px 5px 0
}
.triangle {
	height:1px;
	line-height:0;
	font-size:0;
	position:absolute;
	right:-5px;
	top:8px;
	right:-5px;
	_right:-6px;
	top:8px
}
.pageRight {
	width:720px;
	padding:30px 20px 0 0;
	float:right
}
.pageRight p {
	display:block;
	margin-bottom:10px
}
.titleNav {
	height:23px;
	line-height:23px;
	padding:0 15px 0 10px;
	font-size:14px

}
.titleNav span {
	line-height:23px;
	}
.boxBody {
	padding-top:5px;
}
.caseList .title {
	padding:8px 0;
	text-indent:1em;
	color:#666;	
}
.caseList .info {
	color:#666;
	padding-bottom:5px;
	border-bottom:1px dashed #CCC;
}
.caseList .edit {
	float:right;
}
.caseList .edit img {
	margin-right:3px;
}
.caseList .intro {
	padding:10px;
}
.boxBody .all {
	height:18px;
	padding:15px;
	border-bottom:2px solid #CCC;
}
.homeSection {
	padding:15px 20px;
	line-height:25px;
	border:1px solid #eee;
	margin:0 0 20px;
}
.homeSection li em{
	font-family:"宋体";
	font-style:normal;
}
.aboutUs {
	padding:15px 0 40px 0;
	line-height:150%
}
.teamMembers {
	padding:25px 0 40px 0
}
.teamMembers ul {
	height:128px;
	padding:20px 0 20px 0
}
.teamMembers li.pic {
	width:128px;
	height:128px;
	padding-right:20px;
	float:left;
	vertical-align:middle
}
.teamMembers li.info {
	width:420px;
	height:128px;
	float:left;
	line-height:240%;
	position:relative
}
.teamMembers li .linkMore {
	position:absolute;
	right:-70px;
	bottom:-8px;
	line-height:120%
}
.teamMembers .pic img {
	width:128px;
	height:128px
}
ul.membersInfo {
	padding:15px 0
}
.serviceList {
	padding-bottom:40px
}
.serviceList {
	word-wrap:break-word;
	width:710px;
	overflow:hidden;
}
.serviceList ul {
	padding:15px 0
}
.serviceList li.title {
	padding:0 15px;
	font-size:14px
}
.serviceList li.info {
	height:18px;
	padding:8px 0 8px 20px;
	margin:0 15px
}
.serviceList li .price {
	float:left;
	font-size:14px
}
.serviceList li .edit {
	float:right
}
.serviceList li .edit img {
	margin-bottom:3px
}
.serviceList li.intro {
	padding:10px 15px 0
}
.serviceList li.intro img {
	float:none
}
.serviceList li.intro a {
	text-decoration:underline
}
.serviceList li.intro ol {
	list-style-type:decimal;
	list-style-position:inside;
}
.serviceList li.intro ul {
	list-style-type:disc;
	list-style-position:inside;
}
.serviceList li.intro .linkMore a {
	text-decoration:none
}
.serviceList li.intro .linkMore a:hover {
	text-decoration:underline
}
.serviceList li.pic_box {
	float:left;
	width:128px;
	height:128px;
	overflow:hidden;
	padding-right:20px;
}
.serviceList li.pic_box img{
	vertical-align:middle;
	border:1px solid #ccc;
	width:128px;
	height:128px;
}
.comments p {
	padding:4px 0 12px 0;
	border-bottom:1px dashed #CCC;
}
.comments span {
	padding-top:10px;
	display:block;
	color:#999;
}
.commentBox {
	padding:15px 0
}
.commentBox .title {
	font-size:14px;
	padding:12px 0 8px;
	border-bottom:1px dashed #CCC;
}
.commentReg {
	padding:10px 0;
	border-bottom:1px dashed #CCC;
	}
.commentReg td {
	padding-right:5px;
}
.commenting {
	padding:10px 0 0;
}
.commentFb {
	height:20px;
	line-height:20px;
}
.commenting .input {
	width:120px;
	height:16px
}
.commenting .textarea {
	width:400px;
	height:120px;
	font-size:12px
}
.comments {
	padding:5px 0;
}
.contactUs {
	padding:15px 15px 60px;
	line-height:180%
}
.pages {
	height:12px;
	padding:10px 15px;
	text-align:right;
	vertical-align:middle
}
.pages a {
	padding:2px 3px 0;
	vertical-align:middle
}
.pages a:hover {
	text-decoration:none
}
#menu .cur {
	color:#fff
}
.jubaoDiv {
	width:418px;
	height:312px;
	background:url(../img/jubao_bg02.png) no-repeat;
	position:absolute;
	top:100px;
	right:0;
	z-index:999;
	overflow:hidden;
}
.jubaoDiv .title {
	height:25px;
	line-height:25px;
	font-size:14px;
	color:#0e1d8c;
	padding:0 11px 0 34px
}
.jubaoDiv .close {
	float:right;
	width:25px;
	height:18px;
	margin-top:3px;
	text-indent:-9999px;
	overflow:hidden
}
.jubaoDiv .container {
	width:390px;
	padding:70px 10px 0;
	margin:0 auto;
	color:#000
}
.jubaoDiv td {
	padding-bottom:10px
}
.jubaoDiv .textarea {
	width:316px;
	height:100px;
	font-size:12px;
	padding:2px;
	margin-bottom:5px;
	overflow:auto
}
.jubaoDiv .btnBar {
	padding-top:10px;
	border-top:1px solid #fdc92c;
	text-align:right
}
.popMsgBox {
	width:220px;
	line-height:150%;
	height:140px;
	padding:2px 6px 0 28px;
	background:url(../img/pop_msg_bg.png) no-repeat
}
.popMsgBox .tNav {
	height:22px;
	line-height:22px
}
.popMsgBox .name {
	float:left;
	color:#b90200;
	font-weight:bold
}
.popMsgBox .close {
	float:right;
	width:15px;
	height:15px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	margin-top:3px
}
.popMsgBox .grade {
	width:136px;
	height:40px;
	padding:0 14px 0 76px
}
.popMsgBox .info {
	padding:0 7px 0 66px;
	color:#5e5e5e
}
.popMsgBox a {
	color:#0044dd
}
.popMsgBox em a {
	font-style:normal;
	color:#b90200
}
.popMsgBox .value {
	font-size:20px;
	height:25px;
	line-height:25px;
	color:#f14300;
	float:left;
	font-weight:bold;
	margin-top:12px;
}
.popMsgBox .shopLevel {
	width:66px;
	height:11px;
	line-height:0;
	float:right;
	background:red;
	margin-top:17px;
	margin-right:16px;
	background:url(../img/five_star_bg.png) no-repeat
}
.popMsgBox .star0 {
	background-position:right 0
}
.popMsgBox .star1 {
	background-position:right -11px
}
.popMsgBox .star2 {
	background-position:right -22px
}
.popMsgBox .star3 {
	background-position:right -33px
}
.popMsgBox .star4 {
	background-position:right -44px
}
.popMsgBox .star5 {
	background-position:right -55px
}
.popMsgBox .star6 {
	background-position:right -66px
}
.popMsgBox .star7 {
	background-position:right -77px
}
.popMsgBox .star8 {
	background-position:right -88px
}
.popMsgBox .star9 {
	background-position:right -99px
}
.popMsgBox .star10 {
	background-position:right -110px
}

.pageRight .picContent{
	float:left;
	width:300px;
}
.picContent #largeIcon a{
	height:18px;
	line-height:18px;
	margin-left:80px;
	margin-top:10px;
	text-indent:30px;
	float:left;
	background:url(../img/ckdt_bg.png) no-repeat left top;
}
.picContent .btns{
	margin-top:10px;
	margin-left:25px;
	height:23px;
	width:200px;
	float:left;
}
.picContent .btns a{
	outline:none;
	width:92px;
	height:23px;
	text-indent:-999px;
}
.picContent .btns .fl{
	background:url(../img/tjhy_bg.png) no-repeat left top;
}
.picContent .btns .fr{
	background:url(../img/fwsc_bg.png) no-repeat left top;
}
.pageRight .info{
	float:right;
	width:100%;
	margin-bottom:10px;
    _margin-bottom:0;
}
.pageRight .info li{
	height:37px;
}
.pageRight .fwgm{
	width:400px;
}
.pageRight .info .btns a{
	display:block;
	width:166px;
	height:37px;
	background:url(../img/gmfw_bg.png) no-repeat left top;
	text-indent:-999px;
	outline:none;
}

.pageRight .tab_nav {
	background: #FFF url(../img/tab_bg.gif) left 31px repeat-x;
	padding:3px 5px;
	clear:both;
	height:29px;
}
.tab_nav a{
	color:#000;
	padding:0 0 0 10px;
	margin-top:3px;
	background:url(../img/tab_a_bg.gif) no-repeat left top;
	display:inline-block;
}
.tab_nav a span{
	padding:3px 10px 4px 0;
	background:url(../img/tab_a_bg.gif) no-repeat right top;
	display:block;
}
.tab_nav a.select{
	color:#000;
	padding:0 0 0 10px;
	background:url(../img/tab_select_bg.gif) no-repeat left top;
	display:inline-block;
	position:relative;
}
.tab_nav a.select span{
	padding:6px 10px 6px 0;
	background:url(../img/tab_select_bg.gif) no-repeat right top;
	display:block;
}

.serviceDetail .info .fwbz {
	background:none repeat scroll 0 0 #EEEEEE;
	border:1px solid #CCCCCC;
	padding:6px 16px;
}
.serviceDetail .info .fwbz i {
	background:url(../img/fwbz_icon.png) no-repeat scroll;
	display:block;
	height:23px;
	line-height:23px;
	text-indent:30px;
}
.serviceDetail .info .fwbz i.cxbz {
	background-position:0 -58px;
}
.serviceDetail .info .fwbz i.jybz {
	background-position:0 -88px;
}
.serviceDetail .info .fwbz i.paybz {
	background-position:0 -118px;
}
.serviceDetail .info .fwbz a {
	text-decoration:underline;
}
.serviceDetail .info .fwbz01{
	margin-top:10px;
}