{template 'header', $module}
{if !$_userid}
<div class="warn">您还没有登录，本站部分功能和服务可能受到一定的使用限制，建议 <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="f_b t">立即登录</a> 或 <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="f_b t">注册会员</a></div>
<div class="b10"></div>
{/if}
<table cellspacing="1" cellpadding="10" class="tb">
{loop $MYMODS $v}
{if $v == 9}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">招聘</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}" class="b">管理</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add" class="b">发布</a>
</td>
</tr>
{elseif $v==-9}
<tr>
<td class="tl"><a href="{$MODULE[9][linkurl]}" target="_blank">简历</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&resume=1" class="b">管理</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&action=add&resume=1" class="b">发布</a>
</td>
</tr>
{else}
<tr>
<td class="tl"><a href="{$MODULE[$v][linkurl]}" target="_blank">{$MODULE[$v][name]}</a></td>
<td class="tr">
{if $_userid}<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}" class="b">管理</a>&nbsp;&nbsp;{/if}
<a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add" class="b">发布</a>
</td>
</tr>
{/if}
{/loop}
</table>
{template 'footer', $module}