{template 'header'}
<div class="m">
	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
	<td valign="top" class="left_menu">
		<ul>
		<li><a href="{DT_PATH}">网站首页</a></li>
		<li id="type_pay"><a href="{$MOD[linkurl]}pay.php">站内支付</a></li>
		<li><a href="{$MOD[linkurl]}charge.php?action=pay">在线充值</a></li>
		<li><a href="{$MOD[linkurl]}record.php">支付记录</a></li>
		</ul>
	</td>
	<td width="8"> </td>
	<td valign="top">
		<div class="left_box">	
			<div class="pos">当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">商务中心</a> &raquo; <a href="{$MOD[linkurl]}pay.php">站内支付</a></div>
			<div style="padding:25px;font-size:14px;">
			<form method="post" action="{$MOD[linkurl]}pay.php" id="dform" onsubmit="return check();">
			<input type="hidden" name="mid" value="{$mid}"/>
			<input type="hidden" name="itemid" value="{$itemid}"/>
			<input type="hidden" name="fee" value="{$fee}"/>
			<input type="hidden" name="sign" value="{$sign}"/>
			<input type="hidden" name="title" value="{$title}"/>
			<input type="hidden" name="currency" value="{$currency}"/>
			<input type="hidden" name="forward" value="{$forward}"/>
			<input type="hidden" name="submit" value="1"/>
			<table cellpadding="10" cellspacing="1" width="100%">
			<tr>
			<td>支付对象</td>
			<td><a href="{$forward}" class="f_b">{$title}</a></td>
			</tr>
			<tr>
			<td>总价</td>
			<td><strong class="px16 f_b f_red">{$fee}</strong> {$DT[money_unit]}</td>
			</tr>
			<tr bgcolor="#F1F7FC">
			<td>会员价</td>
			<td><strong class="px16 f_b f_orange">{$member_fee}</strong> {$DT[money_unit]}&nbsp;&nbsp;<span class="px12 f_gray">(帐户余额:{$_money}{$DT[money_unit]})</span>&nbsp;&nbsp;<a href="{$MOD[linkurl]}charge.php?action=pay&amount={$amount}" class="px12">帐户充值</a></td>
			</tr>
			<tr>
			<td>支付密码 <span class="f_red">*</span></td>
			<td>{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
			</tr>
			<tr>
			<td> </td>
			<td>
				<input type="image" src="{DT_SKIN}image/btn_pay.gif"/>
				&nbsp;
				<a href="{$MOD[linkurl]}charge.php?action=pay&amount={$amount}"><img src="{DT_SKIN}image/btn_charge.gif" width="100" height="30" alt="帐户充值"/></a>
			</td>
			</tr>
			</table>
			</form>
			</div>
			<script type="text/javascript">
			function check() {
				if({$fee} > {$_money}) {
					if(confirm('帐户余额不足，是否现在充值？')) window.location='{$MOD[linkurl]}charge.php?action=pay&amount={$amount}';
					return false;
				}
				var l;
				var f;
				f = 'password';
				l = $(f).value.length;
				if(l < 6) {
					Dmsg('请输入支付密码', f);
					return false;
				}
			}
			try {$('type_pay').style.backgroundColor = '#CDDCE4';}catch (e){}
			</script>
		
		</div>
	</td>
	</tr>
	</table>
</div>
{template 'footer'}