{template 'header'}
<div class="m">
<div class="m_l f_l">
	<div class="left_box">		
		<div class="pos">当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a></div>
		<div class="category">
			<p><img src="{DT_SKIN}image/arrow.gif" width="17" height="12" alt=""/> <strong>按地区浏览</strong></p>
			<div>
			<table width="100%" cellpadding="3">
			{php $mainarea = get_mainarea(0, $AREA)}
			{loop $mainarea $k $v}
			{if $k%10==0}<tr>{/if}
			<td><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'])}">{$v[areaname]}</a></td>
			{if $k%10==9}</tr>{/if}
			{/loop}
			</table>
			</div>
		</div>
		{if $page == 1}{load('ad_m'.$moduleid.'.htm')}{/if}

		<div style="padding:12px 10px 10px 15px;background:#F1F7FC;"><img src="{DT_SKIN}image/arrow.gif" width="17" height="12" alt=""/> <strong>按行业浏览</strong></div>
		
		{load('catalog.css')}
		<div class="catalog c_b" style="border:none;padding:0;">
		<div id="catalog">
		<table width="100%" cellspacing="0" cellspacing="0">
		{php $child = get_maincat(0, $CATEGORY, 1);}
		{loop $child $i $c}
		{if $i%2==0}<tr{if $i%4==2} bgcolor="#FAFCFE"{/if}>{/if}
		<td valign="top" width="50%" onmouseover="this.style.backgroundColor='#E2F0FB';" onmouseout="this.style.backgroundColor='';">
		<p>
			<a href="{$MOD[linkurl]}{$c[linkurl]}" class="px15"><strong>{set_style($c[catname], $c[style])}</strong></a> ({$ITEMS[$c[catid]]})
			{if $c[child]}
			{php $sub = get_maincat($c[catid], $CATEGORY, 2);}
			{loop $sub $j $s}{if $j < 5} <a href="{$MOD[linkurl]}{$s[linkurl]}" ><strong>{set_style($s[catname], $s[style])}</strong></a>{/if}{/loop}
			{/if}
		</p>
		{if $c[child]}
		{php $sub = get_maincat($c[catid], $CATEGORY, 1);}
			<ul>
			{loop $sub $j $s}
			<li><a href="{$MOD[linkurl]}{$s[linkurl]}" class="g">{set_style($s[catname], $s[style])}</a></li>
			{/loop}
			</ul>
			<div class="c_b"></div>
		{/if}
		</td>
		{if $i%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>
		</div>
		
	<br/>
	</div>
</div>
<div class="m_n f_l">&nbsp;</div>
<div class="m_r f_l">
	{if $MOD[page_irec]}
	<div class="box_head_1"><div><span class="f_r"><a href="{$MOD[linkurl]}{rewrite('search.php?vip=1')}">更多..</a></span><strong>名企推荐</strong></div></div>
	<div class="box_body li_dot f_gray">
	<!--{tag("moduleid=$moduleid&condition=level>0 and catids<>''&pagesize=".$MOD[page_irec]."&order=vip desc&template=list-com")}-->
	</div>
	<div class="b10"> </div>
	{/if}
	{if $MOD[page_ivip]}
	<div class="box_head_1"><div><span class="f_r"><a href="{$MOD[linkurl]}{rewrite('search.php?vip=1')}">更多..</a></span><strong>最新{VIP}</strong></div></div>
	<div class="box_body li_dot f_gray">
	<!--{tag("moduleid=$moduleid&condition=vip>0 and catids<>''&pagesize=".$MOD[page_ivip]."&order=fromtime desc&template=list-com")}-->
	</div>
	<div class="b10"> </div>
	{/if}
	{if $MOD[page_inews]}
	<div class="box_head_1"><div><span class="f_r"><a href="{$MOD[linkurl]}{rewrite('news.php?more=1')}">更多..</a></span><strong>企业新闻</strong></div></div>
	<div class="box_body li_dot f_gray">
	<!--{tag("table=news&condition=status=3 and level>0&pagesize=".$MOD[page_inews]."&datetype=2&order=addtime desc&target=_blank")}-->
	</div>
	<div class="b10"> </div>
	{/if}
	{if $MOD[page_inew]}
	<div class="box_head_1"><div><span class="f_r"><a href="{$MOD[linkurl]}{rewrite('search.php?new=1')}">更多..</a></span><strong>最新加入</strong></div></div>
	<div class="box_body li_dot f_gray">
	<!--{tag("moduleid=$moduleid&condition=groupid>5 and catids<>''&pagesize=".$MOD[page_inew]."&order=userid desc&template=list-com")}-->
	</div>
	{/if}
</div>
</div>
{template 'footer'}