<div class="side_head"><div><strong>{$side_name[$HS]}</strong></div></div>
<div class="side_body">
<form action="{$MODULE[4][linkurl]}home.php" onsubmit="return check_kw();">
<input type="hidden" name="action" value="search"/>
<input type="hidden" name="homepage" value="{$username}"/>
<input type="text" name="kw" value="{if $kw}{$kw}{else}输入关键词{/if}" size="25" id="kw" class="inp" onfocus="if(this.value=='输入关键词')this.value='';"/>
<div style="padding:10px 0 0 0;">
<select name="file">
{if $menu_show[1]}<option value="sell"{if $file=='sell'} selected{/if}>{$menu_name[1]}</option>{/if}
{if $menu_show[2]}<option value="buy"{if $file=='buy'} selected{/if}>{$menu_name[2]}</option>{/if}
{if $menu_show[3]}<option value="news"{if $file=='news'} selected{/if}>{$menu_name[3]}</option>{/if}
{if $menu_show[4]}<option value="credit"{if $file=='credit'} selected{/if}>{$menu_name[4]}</option>{/if}
{if $menu_show[5]}<option value="job"{if $file=='job'} selected{/if}>{$menu_name[5]}</option>{/if}
{if $menu_show[7]}<option value="photo"{if $file=='photo'} selected{/if}>{$menu_name[7]}</option>{/if}
{if $menu_show[8]}<option value="info"{if $file=='info'} selected{/if}>{$menu_name[8]}</option>{/if}
{if $menu_show[9]}<option value="brand"{if $file=='brand'} selected{/if}>{$menu_name[9]}</option>{/if}
{if $menu_show[10]}<option value="video"{if $file=='video'} selected{/if}>{$menu_name[10]}</option>{/if}
</select>&nbsp;
<input type="submit" value=" 搜 索 " class="sbm"/>
</div>
</form>
</div>