{template 'header', 'wap'}
{if $itemid}
	<b>{$title}</b><br/>
	日期:<small>{$adddate}</small><br/>
	{if $fromuser}发信人:<a href="index.php?moduleid=4&amp;username={$fromuser}">{$fromuser}</a><br/>{/if}
	<a href="index.php?moduleid={$moduleid}&amp;action={$action}">返回</a>
	<a href="index.php?moduleid={$moduleid}&amp;action=message_send&amp;touser={$fromuser}&amp;title=RE:{urlencode($title)}">回复</a>
	<a href="index.php?moduleid={$moduleid}&amp;action=message_delete&amp;itemid={$itemid}">删除</a>
	<br/>
	{$content}<br/>
{else}
	{loop $lists $v}
	<a href="index.php?moduleid={$moduleid}&amp;action={$action}&amp;typeid={$v[typeid]}">[{$v[type]}]</a> <a href="index.php?moduleid={$moduleid}&amp;action={$action}&amp;itemid={$v[itemid]}">{if !$v[isread]}<b>{/if}{$v[title]}{if !$v[isread]}</b>{/if}</a>{if $v[fromuser]} <a href="index.php?moduleid=4&amp;username={$v[fromuser]}">({$v[fromuser]})</a>{/if} <small>{$v[adddate]}</small><br/>
	{/loop}
{/if}
{if $pages}<br/>{$pages}<br/>{/if}
<br/>
<a href="index.php?moduleid={$moduleid}&amp;action={$action}">收件箱</a> 
<a href="index.php?moduleid={$moduleid}&amp;action=message_send">写信</a> 
<br/>
<form action="index.php" method="get">
<input type="hidden" name="moduleid" value="{$moduleid}"/>
<input type="hidden" name="action" value="{$action}"/>
<input type="text" name="kw" value="{$kw}" size="6"/>
<input type="submit" name="submit" value="搜索"/>
</form>
<br/>
{template 'footer', 'wap'}