{template 'header', 'wap'}
{if $itemid}
	<strong>{$title}</strong><br/>
	{if $page==1}
	日期:<small>{$editdate}</small><br/>
	{if !$username}<span style="color:red;">非会员信息</span><br/>{/if}
	{if $vip}{VIP}:{$vip}级<br/>{/if}
	{if $tag}品名:{$tag}<br/>{/if}
	价格:{if $price&&$unit}{$price}/{$unit}{else}未填{/if}<br/>
	{if $model}型号:{$model}<br/>{/if}
	{if $standard}规格:{$standard}<br/>{/if}
	{if $brand}品牌:{$brand}<br/>{/if}
	{if $minamount}起订:{$minamount}{$unit}<br/>{/if}
	{if $amount}供应:{$amount}{$unit}<br/>{/if}
	{if $days}发货:{$days}天内<br/>{/if}
	<strong>联系方式</strong><br/>
	{template 'contact', 'wap'}
	<strong>详细介绍</strong><br/>
	{if $thumb}<img src="{$thumb}"/><br/>{/if}
	{/if}
	{$content}<br/>
{else}
	{loop $lists $v}
	<a href="index.php?moduleid={$moduleid}&amp;catid={$v[catid]}">[{$v[catname]}]</a> <a href="index.php?moduleid={$moduleid}&amp;itemid={$v[itemid]}">{$v[title]}</a> <a href="index.php?moduleid={$moduleid}&amp;areaid={$v[areaid]}">({$v[area]})</a>{if $v[vip]} {VIP}{$v[vip]}{/if} <small>{$v[editdate]}</small><br/>
	{/loop}
{/if}
{if $pages}<br/>{$pages}<br/>{/if}
<br/>
<form action="index.php" method="get">
<input type="hidden" name="moduleid" value="{$moduleid}"/>
<a href="index.php?moduleid={$moduleid}">{$MOD[name]}</a>
<input type="text" name="kw" value="{$kw}" size="6"/>
<input type="submit" name="submit" value="搜索"/>
</form>
<br/>
{template 'footer', 'wap'}