{template 'header'}
<div class="m">
<div class="left_box">		
		<div class="pos"><span class="f_r"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$moduleid}&action=add&catid={$catid}"><img src="{DT_SKIN}image/btn_add.gif" width="81" height="20" alt="发布信息" style="margin:3px 0 0 0;"/></a></span>当前位置: <a href="{DT_PATH}">首页</a> &raquo; <a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($catid, ' &raquo; ')} &raquo;</div>
		<div class="b10 c_b"></div>
		<table width="100%">
		<tr>
		<td width="10"> </td>
		<td>
			<table width="100%">
			<tr>
			<td colspan="3">
				<h1 class="title_trade">{$title}</h1></td>
			</tr>
			<tr>
			<td width="250" valign="top">
				<div class="album">
					<table width="100%" cellpadding="0" cellspacing="0">
					<tr align="center">
					<td width="250" valign="top"><div><span id="abm" title="点击查看大图"><img src="{$albums[0]}" onload="if(this.width>240){this.width=240;}" onmouseover="SAlbum(this.src);" onmouseout="HAlbum();" onclick="PAlbum(this);" id="DIMG"/></span></div></td>
					</tr>
					<tr>
					<td>
					{loop $thumbs $k $v}<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');"class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}</td>
					</tr>
					<tr align="center">
					<td height="30" onclick="PAlbum($('DIMG'));"><img src="{DT_SKIN}image/ico_zoom.gif" width="16" height="16" align="absmiddle"/> 点击图片查看原图</td>
					</tr>
					</table>
				</div>
			</td>
			<td width="15"> </td>
			<td valign="top">
				<div id="imgshow" style="display:none;"></div>				
				<table width="100%" cellpadding="5" cellspacing="5">
				<tr>
				<td width="80" class="f_dblue">产品/服务：</td>
				<td class="f_b" colspan="2">{$tag}&nbsp;</td>
				</tr>
				<tr>
				<td class="f_dblue">需求数量：</td>
				<td class="f_b f_orange">{$amount}&nbsp;</td>
				</tr>
				<tr>
				<td class="f_dblue">价格要求：</td>
				<td class="f_b f_orange">{$price}{if $username}&nbsp;<a href="{$MOD[linkurl]}{rewrite('price.php?itemid='.$itemid)}"><img src="{DT_SKIN}image/btn_price.gif" alt="报价" align="absmiddle"/></a>{/if}</td>
				</tr>
				<tr>
				<td class="f_dblue">规格要求：</td>
				<td class="f_b f_orange">{$standard}</td>
				</tr>
				<tr>
				<td class="f_dblue">包装要求：</td>
				<td class="f_b f_orange">{$pack}</td>
				</tr>
				<tr>
				<td class="f_dblue">所在地：</td>
				<td>{area_pos($areaid, '&nbsp;')}</td>
				</tr>
				<tr>
				<td class="f_dblue">有效期至：</td>
				<td>{if $todate}{$todate}{else}长期有效{/if}{if $expired} <span class="f_red">[已过期]</span>{/if}</td>
				</tr>
				<tr>
				<td class="f_dblue">最后更新：</td>
				<td colspan="2">{$editdate}</td>
				</tr>
				<tr>
				<td class="f_dblue">浏览次数：</td>
				<td colspan="2"><span id="hits">{$hits}</span></td>
				</tr>
				</table>
			</td>
			</tr>
		</table>
		</td>
		<td width="10"> </td>
		<td width="300" valign="top">		
			<div class="contact_head">公司基本资料信息</div>
			<div class="contact_body" id="contact">{template 'contact', 'chip'}</div>
			{if !$username}
			<br/>
			&nbsp;<strong class="f_red">注意</strong>:发布人未在本站注册，建议优先选择<a href="{$MODULE[2][linkurl]}grade.php"><strong>{VIP}会员</strong></a>
			{/if}
			</div>
		</td>
		<td width="10"> </td>
		</tr>
		</table>
		<div class="b10">&nbsp;</div>
</div>
</div>

<div class="m">
<div class="b10">&nbsp;</div>
<div class="box_head_2">
<div>
<span class="f_r">
<form method="post" action="{$MODULE[2][linkurl]}favorite.php">
<input type="hidden" name="action" value="add"/>
<input type="hidden" name="title" value="{$title}"/>
<input type="hidden" name="url" value="{$linkurl}"/>
<input type="image" src="{DT_SKIN}image/btn_fav.gif" class="c_p" style="margin-top:5px;"/>
</form>
</span>
<strong>详细说明</strong>
</div>
</div>
<div class="box_body" style="padding:0;">
<div class="content c_b" id="content">{$content}</div>
{template 'comment', 'chip'}
</div>
</div>

<div class="m">
<div class="b10">&nbsp;</div>
<div class="box_head_2"><div><span class="f_r"><a href="{$MOD[linkurl]}{$CAT[linkurl]}">更多..</a></span><strong>同类{$MOD[name]}</strong></div></div>
<div class="box_body">
<div class="thumb" style="padding:10px;">	<!--{tag("moduleid=$moduleid&length=20&condition=status=3 and thumb<>''&catid=$catid&pagesize=8&order=edittime&width=80&height=80&cols=8&template=thumb-table", -2)}-->
</div>
</div>

<div class="m">
	<form method="post" action="{$MODULE[2][linkurl]}sendmail.php" name="sendmail" id="sendmail" target="_blank">
	<input type="hidden" name="itemid" value="{$itemid}"/> 
	<input type="hidden" name="title" value="{$title}"/>
	<input type="hidden" name="linkurl" value="{$linkurl}"/>
	</form>
	<br/>
	<center>
	[ <a href="{$MOD[linkurl]}search.php">{$MOD[name]}搜索</a> ]&nbsp;
	[ <script type="text/javascript">addFav('加入收藏');</script> ]&nbsp;
	[ <a href="javascript:$('sendmail').submit();void(0);">告诉好友</a> ]&nbsp;
	[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
	[ <a href="javascript:window.close()">关闭窗口</a> ]&nbsp;
	[ <a href="javascript:window.scrollTo(0,0);">返回顶部</a> ]
	</center>
	<br/>
</div>
{template 'zoom', 'chip'}
{template 'footer'}